/* 
    Document   : index.php
    Created on : Mar 29, 2012, 11:50:03 AM
    Author     : zhang
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body {

}

#title {
/*    background-color: #66FF66;*/
}

#connection_form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#connection_form table td {
    padding-left: 8px;
}

#inscription_link {
    text-decoration: underline;
    cursor: pointer;
}

#search_bar {
/*    background-color: #66FF66;*/
}

#main_container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#left_container{
    background-color:#999999;
    float:left;
    width: 22%;
    height:100%;
}

#cataglogue_list {
    padding-left: 0px;
}

#catalogue_title {
    background-color: #778D9B;
    height:35px;
}

#cataglogue_list li {
    display: block;
}

#cataglogue_list li img {
    width:100%;
    height:62px;
}

#center_container{
/*    background-color:#778D98;*/
    height:100%;
}

#center_upper {
    background-color: white;
    height:68px;
}

#slogan_container {
    float:left;
    text-align: center;
    width:600px;
}

#share_container {
    float:right;
    padding-top: 10px;
}

#talents {
    text-align: center;
}

#talents h2{
    margin-bottom: 0px;
    margin-top: 1px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:#778D98;
}

#talents div{
/*    background-color: #EEEEEE;*/
}

#talents ul li {
    display: block;
}